input {
    border-radius: 5px;
    border-color: lightgray;
    font-size: 30%;
    font-family: optima, sans-serif;
    color: gray;
}

.balance {
    border-radius: 5px;
}

.account-page {
    background-color: rgb(12, 135, 94);
    border-radius: 5px;
}

.info {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hoverable {
    background-color: rgb(10, 57, 115);
    border-radius: 5px;
}

.menu-title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.fa-wallet {
    color: white;
}

.fa-coins {
    color: white;
}

.fa-home {
    color: white;
}

.overlay {
    background-color: hsla(0, 0%, 98%, 0.2);
}

.hover {
    cursor: pointer;
}